.footer {
    width: 100%;
    padding: 1rem 0;
    background-color: rgba(255, 252, 252, 0.728) ;
    overflow: hidden;
}

.footer-container {
    width: 100%;
    margin: 0;
}

.quicklinks li a {
    color: #000;
    font-size: 1rem;
    font-weight: 500;
}

.quicklinks li a:hover {
    color: #de1010;
}

.quicklinks ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.headers {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    align-items: center;
    /* padding: 0.5rem 0; */
    width: 100%;
}

.location {
    display: flex;
    margin: 1rem 1rem;
    align-items: center;
}

.location p {
    line-height: 25px;
    color: #000;
    font-size: 0.9rem;
    max-width: 450px;
}

.phone {
    display: flex;
    margin: 1rem 1.5rem;
    align-items: center;
}

.phone p {
    line-height: 20px;
    color: #000;
    font-size: 0.9rem;

}

.rights, .rights p {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 0.9rem;
    line-height: 2px;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;

}

.social {
    display: flex;
    align-items: center;
    margin: 1rem;
}

.social p {
    line-height: 20px;
    color: #000;
    font-size: 0.9rem;
}

h3 {
    color: #000;
}

h4 {
    color: #000;
    font-size: 1.2rem;
    padding-bottom: 0.9rem;
}

p {
    font-size: 1.2rem;

}

@media screen and (max-width: 640px) {
    .footer-container {
        grid-template-columns: 1fr;
    }

    .title {
        padding: 50px 100px;
    }

    .headers {
        flex-direction: column;
    }

    .location p {
        max-width: 250px;
    }

    .location, .phone, .social {
        margin: 0;
    }

    .rights {
        margin-top: 1.6rem;
    }
}