.service-wrapper {
    width: 100%;
    height: 100%;
    padding: 2rem;
}

.service-slider {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.service-slider h1 {
    color: #d01e1e;
    font-size: 2.3rem;
    text-align: center;
}

.service-slider h2 {
    color: #d01e1e;
    font-size: 2rem;
    text-align: center;
}

.service-slider h3 {
    font-size: 1.4rem;
    padding: 1rem 3rem;
    font-weight: normal;
    text-align: center;
}

.service-card-container {
    display: flex;
    gap: 50px;
    width: 100%;
    padding: 3rem;
}

.herobtn {
    display: flex;
    justify-content: center;
}

.herobtn .btn:hover {
    background-color: rgba(225, 225, 225, 0.5);
    color: #d01e1e;
    transition: 0.3s;
}


.card-slider1 {
    border: 1px solid #dadada;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    padding: 163px 10px 15px;
    width: 70%;
    background:
        linear-gradient(to bottom left, transparent 49.5%, #fff 50%) 0 130px/100% 120px,
        linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
        url(https://images.pexels.com/photos/1216589/pexels-photo-1216589.jpeg?auto=compress&cs=tinysrgb&w=800) top/100% auto no-repeat;
    background-repeat: no-repeat;
}

.card-slider2 {
    border: 1px solid #dadada;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    padding: 163px 10px 15px;
    width: 70%;
    height: 70%;
    background:
        linear-gradient(to bottom left, transparent 49.5%, #fff 50%) 0 130px/100% 120px,
        linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
        url(https://images.pexels.com/photos/1249611/pexels-photo-1249611.jpeg?auto=compress&cs=tinysrgb&w=800) top/100% auto no-repeat;
    background-repeat: no-repeat;
}

.card-slider3 {
    border: 1px solid #dadada;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    padding: 163px 10px 15px;
    width: 70%;
    height: 70%;
    background:
        linear-gradient(to bottom left, transparent 49.5%, #fff 50%) 0 130px/100% 120px,
        linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
        url(https://images.pexels.com/photos/1145434/pexels-photo-1145434.jpeg?auto=compress&cs=tinysrgb&w=800) top/100% auto no-repeat;
    background-repeat: no-repeat;
}



@media screen and (max-width:640px) {
    .service-card-container {
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin-bottom: 3rem;
    }

    .card-slider1, .card-slider2, .card-slider3 {
        width: 90%;
        height: 90%;
    }

    .service-wrapper {
        padding: 1rem;
    }

    .service-slider h2 {
        color: #d01e1e;
        font-size: 1.7rem;
        text-align: center;
    }

}